<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/tool"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd">
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:conf/database.properties</value>
        </property>
    </bean>

    <import resource="classpath:hibernate/DataSources.xml"></import>
    <import resource="classpath:hibernate/HibernateSessionFactory.xml"></import>

    <import resource="classpath:spring/beans/UserBeans.xml"></import>
    <import resource="classpath:spring/beans/CustomerBeans.xml"></import>
</beans>